[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tinydb = "*"
arrow = "*"
flask = "*"
htmlmin = "*"
requests = "*"
"boto3" = "*"
smartypants = "*"

[dev-packages]

[requires]
python_version = "3.6"
